/* -------------------------------------------------------------------------- */
/* Tailwind CSS                                                               */
/* -------------------------------------------------------------------------- */
@import 'tailwindcss';
@import './tailwind/variants.css';
@import './tailwind/theme.css';
@import './tailwind/utilities.css';

/* -------------------------------------------------------------------------- */
/* Angular CDK                                                                */
/* -------------------------------------------------------------------------- */
@import '@angular/cdk/overlay-prebuilt.css';

/* -------------------------------------------------------------------------- */
/* Base                                                                       */
/* -------------------------------------------------------------------------- */
@import './base/base.css';
@import './base/typography.css';

/* -------------------------------------------------------------------------- */
/* Components                                                                 */
/* -------------------------------------------------------------------------- */
@import './components/material.css';

/* -------------------------------------------------------------------------- */
/* Third Party                                                                */
/* -------------------------------------------------------------------------- */
@plugin "@iconify/tailwind4" {
  prefix: 'iconify';
  scale: 1.2;
  prefixes: solar, tabler, iconoir;
}
